<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <label for="username">Username</label>
        <input type="password" id="username" v-model="password">
        <input type="password" id="retypePassword" v-model="retypePassword"><br>
        <label for="retypePassword" v-if="error">Password Harus Sama</label>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    password: '',
                    retypePassword: '',
                    error: false
                }
            },
            watch: {
                retypePassword() {
                    if (this.password != this.retypePassword) {
                        this.error = true
                    } else {
                        this.error = false
                    }

                }
            }
        }).mount('#app')
    </script>
</body>

</html>